<!--Conteroller: recipeDetailCtrl in app.js -->
    <!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="./index.html" data-transition="slide-out"></a>
  <!-- TODO: href back one page in browser history instead of hard-coded href. -->
  <a class="icon icon-share pull-right"></a>
  <h1 class="title">{{recipe.name}}</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <div class="card">
    <p class="content-padded">{{recipe.description}}</p>
    <img ng-src="{{recipe.mediumImageUrl}}">
    <p class="content-padded"><strong>Stars:</strong> <span class="badge">{{recipe.stars.avg}}</span> / {{recipe.stars.max}}</p>
    <h3 class="content-padded">Ingredients</h3>
    <ul>
      <li ng-repeat="ingredient in recipe.ingredients"> 
          <p>{{ingredient.ingredient}}</p>
      </li>
    </ul>
    <h3 class="content-padded">Directions</h3>
    <ul>
      <li ng-repeat="direction in recipe.directions"> 
          <p>{{direction.direction}}</p>
      </li>
    </ul>
    <h3 class="content-padded">Notes</h3>
    <ul>
      <li ng-repeat="note in recipe.notes"> 
          <p>{{note.note}}</p>
      </li>
    </ul>
  </div>  
  <div class="card">
  
  <h3 class="content-padded">Purchase</h3>
      <ul class="table-view">
        <li class="table-view-cell" ng-repeat="product in recipe.products"> 
          <a class="navigate-right" href="{{product.productURL}}">{{product.productName}}</a>
        </li>
      </ul>
  </div>
</div>