<!--Conteroller: recipeDetailCtrl in app.js -->
  <h1>{{recipe.name}}</h1>
  <a href="{{recipe.productURL}}"><img ng-src="{{recipe.mediumImageUrl}}"></a>
  <p>{{recipe.description}}</p>
  <p><b>Stars:</b> {{recipe.stars.avg}}</p>
  <h2>Ingredients</h2>
      <ul>
        <li ng-repeat="ingredient in recipe.ingredients"> 
            <p>{{ingredient.ingredient}}</p>
        </li>
      </ul>
<h2>Directions</h2>
      <ul>
        <li ng-repeat="direction in recipe.directions"> 
            <p>{{direction.direction}}</p>
        </li>
      </ul>

<h2>Notes</h2>
      <ul>
        <li ng-repeat="note in recipe.notes"> 
            <p>{{note.note}}</p>
        </li>
      </ul>
